<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Contact</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">					
                    <div class="our-link">
                        <ul>
                            <li><a href="#"> Call US : 7970909880</a></li>
                            <li><a href="#"><i class="fas fa-location-arrow"></i> Address: Fico, Old Airport Road Kodihalli, Bengaluru</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="login-box">
                        <select id="" class="selectpicker show-tick form-control" data-placeholder="Sign In" onchange="location = this.value;">
                            <option th:text="${session.username != null} ? ${session.username} : 'Authentication'"></option>
                            <option th:if = "${session.username == null}" value="http://localhost:8020/shop/login">Sign In</option>
                            <option th:if = "${session.username != null}" value="http://localhost:8020/shop/logout">Log out</option>
                            <option value="http://localhost:8020/shop/register" >Sign Up</option>
                        </select>
					</div>
                    <div class="text-slid-box">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->


   <!-- Start Main Top -->
   <header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
                <!--<a class="navbar-brand" href="index.html"><img src="images/logo1.png" class="logo" width="180" height="150" alt=""></a> -->
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/home}">Menu</a></li>
                    
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Shop</a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/}">Shop Detail</a></li>
<!--                            <li><a href="product-detail.html">Product Detail</a></li>-->
                            <li><a th:href="@{/cart}">Cart</a></li>
                            <li><a th:href="@{/check-out}">Checkout</a></li>
                            <li><a th:href="@{/account}">My Account</a></li>
                        </ul>
                    </li>
                    <li class="nav-item active"><a class="nav-link" th:href="@{contact}">Contact Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->


            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->

    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->


    <!-- Start Contact Us  -->
    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        <h2>GET IN TOUCH</h2>
                        <p>Please send a message or call us if you want to comment on our food or you feel that our food has problems.</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>                      
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" placeholder="Your Message" rows="4" data-error="Write your message" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button text-center">
                                        <button class="btn hvr-hover" id="submit" type="submit">Send Message</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
<!--				<div class="col-lg-4 col-sm-12">-->

<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <!-- End Cart -->




     Start Footer
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Business Time</h3>
							<ul class="list-time">
								<li>Monday - Sunday: 08.00am to 10.00pm</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Contact Us</h3>
							<ul class="list-time">
								<li><i class="fas fa-phone-square"></i> Phone number: 7970909880</li>
                                <li><i class="fas fa-envelope"></i> Email: suraj@gmail.com</li>
                                <li><i class="fas fa-map-marker-alt"></i> Address: Fico, kodihalli, old airport road , bengaluru</li>
							</ul>
						</div>
					</div>

				</div>
            </div>
        </div>

    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/inewsticker.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
    </footer>
</body>

</html>